.carte-visa-1 {
    padding: 5% 6%;
    color: #000;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carte-visa-1 .carte-visa-1-text h1 {
    font-size: 50px;
    font-weight: bold;
}

.carte-visa-1 .carte-visa-1-text p {
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 6%;
}

.carte-visa-1-img {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.btn-carte-visa-1 {
    background-color: transparent;
    color: #047ccc;
    border: 2px solid #047ccc;
    border-radius: 6px;
    padding: 2% 5%;
}

.carte-visa-about {
    padding: 5% 6%;
    color: #000;
}

.carte-visa-about h1 {
    font-size: 40px;
    font-weight: bold;
}

.text-capitalize {
    font-style: normal;
    text-transform: capitalize;
}

.carte-visa-about .importance {
    margin: 3% 0.5% 6% 0.5%;
}

.carte-visa-about .importance .importance-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carte-visa-about .importance .importance-text {
    padding: 3% 4%;
    text-align: center;
}

.carte-visa-about .importance .importance-text i {
    font-size: 30px;
    color: orange;
    margin-bottom: 5%;
}

.carte-visa-about .importance .importance-text h4 {
    font-size: 36px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5%;
}

.carte-visa-about .importance .importance-text p {
    font-size: 14px;
}

.carte-visa-about .row {
    margin-top: 4%;
}

.carte-visa-about .segment {
    text-align: center;
    border-radius: 20px;
    padding: 6% 2%;
}

.carte-visa-about .segment i {
    font-size: 34px;
    color: orange;
}

.carte-visa-about .segment p {
    font-size: 18px;
    color: #000;
    font-weight: 800;
    margin-top: 4%;
}

.carte-visa-about .segment p span {
    color: #fff;
    padding: 1% 4%;
    background-color: #005b97;
    border-radius: 4px;
}

.carte-visa-about .segment .carac {
    justify-content: center;
}

.carte-visa-about .segment .link-modal {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: rgb(23, 101, 190);
    border: none;
    background: none;
}

.carte-visa-about .segment .carac i {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: rgb(23, 101, 190);
}

.details-cards {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.342);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4% 20%;
    display: none;

}

.details-cards .segment-1,
.details-cards .segment-2,
.details-cards .segment-3 {
    display: none;
}

.details-cards .closed {
    position: absolute;
    right: -10px;
    top: -18px;
    font-size: 30px;
    color: #000;
}

.details-cards .closed:hover {
    color: #ff0707;
}

table tbody td {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    height: 40px;
}


.procedure {
    padding: 5% 6%;
    background-color: #047ccc13;
    color: #000;
}

.procedure h1 {
    font-size: 40px;
    font-weight: bold;
}

.procedure p {
    font-size: 16px;
    font-weight: bold;
    padding: 0% 0.5%;
}

.procedure .row {
    margin-top: 2%;
    padding: 0% 1%;
}

.procedure .row .col-6 {
    padding: 2% 8% 2% 3%;
}

.procedure .row .col-6 ul {
    text-decoration: none;
    list-style: none;
    padding: 0%;
}

.procedure .row .col-6 ul li {
    padding: 2% 0%;
    font-size: 18px;
}

.procedure .procedure-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.btn-ask-card {
    padding: 2% 4%;
    background-color: transparent;
    border: 2px solid #025288;
    text-align: center;
    border-radius: 10px;
    color: #025288;
    font-size: 18px;
}

.btn-ask-card:hover {
    background-color: #025288;
    border: none;
    color: #ffffff;
    font-size: 19px;
}

.price-card {
    padding: 6% 6%;
    color: #000;
}

.price-card h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 4%;
}

.pricing-box {
    border-radius: 20px;
    padding: 8% 8%;
    position: relative;
}

.pricing-box .plan {
    font-size: 14px;
}

.pricing-badge {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

.pricing-badge .badge {
    float: right;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -67px;
    top: 17px;
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    font-weight: 500;
    color: #ffffff;
    background: #fb7179;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important;
}

.pricing-box .title {
    line-height: 1.7;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.text-primary-2 {
    color: #025288;
}

.btn-buy {
    border-radius: 5px;
    border: 2px solid #025288;
    text-transform: uppercase;
    font-size: 20px;
    color: #025288;
    padding: 2% 8%;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-buy-1 {
    border-radius: 5px;
    border: 2px solid #028860;
    text-transform: uppercase;
    font-size: 20px;
    color: #028860;
    padding: 2% 8%;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-buy-0 {
    border-radius: 5px;
    border: 2px solid #f01242;
    text-transform: uppercase;
    font-size: 20px;
    color: #f01242;
    padding: 2% 8%;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-buy-0:hover {
    border: none;
    background-color: #f01242;
    color: #fff;
}

.btn-buy:hover {
    border: none;
    background-color: #025288;
    color: #fff;
}

.btn-buy-1:hover {
    border: none;
    background-color: #028860;
    color: #fff;
}

.other-product{
    background-color: rgba(187, 215, 253, 0.13);
    padding: 4% 6%;
  }

  .other-product .row .col-2{
    padding: 1%;
}

.other-product .row .col-2 a{
    color: #000;
    font-size: 14px;
}

.other-product .row .col-2 a:hover{
    color: #0a6ecc;
}

.other-product h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 4%;
    color: #000;
}

.other-product h1 span {
    color: orange;
}


@media screen and (max-width: 360px) {
    .carte-visa-1 {
        height: 40vh;
    }

    .carte-visa-1 .col-6 {
        width: 100%;
    }

    .carte-visa-1 .carte-visa-1-text h1 {
        font-size: 30px;
    }

    .carte-visa-1 .carte-visa-1-text p {
        font-size: 16px;
        margin-top: 4%;
    }

    .carte-visa-about {
        padding: 2% 6%;
    }

    .carte-visa-about h1 {
        font-size: 30px;
    }

    .carte-visa-about .importance {
        margin-bottom: 8%;
        padding-bottom: 5%;
    }

    .carte-visa-about .importance-img,
    .carte-visa-about .importance-text {
        width: 100%;
    }

    .carte-visa-about .importance .importance-text h4 {
        font-size: 22px;
    }

    .carte-visa-about .col-4 {
        width: 100%;
    }

    .details-cards {
        padding: 4% 6%;
    }

    table tbody td {
        font-size: 14px;
        height: 30px;
    }

    .details-cards .btn {
        width: 80% !important;
    }

    .procedure {
        margin-top: 5%;
    }

    .procedure h1 {
        font-size: 30px;
    }

    .procedure .row .col-6 {
        width: 100%;
    }

    .price-card h1 {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 415px) {
    .carte-visa-1 {
        height: 40vh;
    }

    .carte-visa-1 .col-6 {
        width: 100%;
    }

    .carte-visa-1 .carte-visa-1-text h1 {
        font-size: 30px;
    }

    .carte-visa-1 .carte-visa-1-text p {
        font-size: 16px;
        margin-top: 4%;
    }

    .carte-visa-about {
        padding: 2% 6%;
    }

    .carte-visa-about h1 {
        font-size: 30px;
    }

    .carte-visa-about .importance {
        margin-bottom: 8%;
        padding-bottom: 5%;
    }

    .carte-visa-about .importance-img,
    .carte-visa-about .importance-text {
        width: 100%;
    }

    .carte-visa-about .importance .importance-text h4 {
        font-size: 22px;
    }

    .carte-visa-about .col-4 {
        width: 100%;
    }

    .details-cards {
        padding: 4% 6%;
    }

    table tbody td {
        font-size: 14px;
        height: 30px;
    }

    .details-cards .btn {
        width: 80% !important;
    }

    .procedure {
        margin-top: 5%;
    }

    .procedure h1 {
        font-size: 30px;
    }

    .procedure .row .col-6 {
        width: 100%;
    }

    .price-card h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 601px) {
    .carte-visa-1 {
        height: 45vh;
    }

    .carte-visa-1 .col-6 {
        width: 100%;
    }

    .carte-visa-1 .carte-visa-1-text h1 {
        font-size: 30px;
    }

    .carte-visa-1 .carte-visa-1-text p {
        font-size: 16px;
        margin-top: 4%;
    }

    .carte-visa-about {
        padding: 2% 6%;
    }

    .carte-visa-about h1 {
        font-size: 30px;
    }

    .carte-visa-about .importance {
        margin-bottom: 8%;
        padding-bottom: 5%;
    }

    .carte-visa-about .importance-img,
    .carte-visa-about .importance-text {
        width: 100%;
    }

    .carte-visa-about .importance .importance-text h4 {
        font-size: 22px;
    }

    .carte-visa-about .col-4 {
        width: 100%;
    }

    .details-cards {
        padding: 4% 6%;
    }

    table tbody td {
        font-size: 14px;
        height: 30px;
    }

    .details-cards .btn {
        width: 80% !important;
    }

    .procedure {
        margin-top: 5%;
    }

    .procedure h1 {
        font-size: 30px;
    }

    .procedure .row .col-6 {
        width: 100%;
    }

    .price-card h1 {
        font-size: 30px;
    }
}